.new4
  .new4__header
    .new4__header-logo
      = link_to image_tag(src="fmarket_logo_red.svg"),root_path
    .new4__header-image
      .new4__header-image-1
  .new4__form
    .new4__form-title 
      支払い方法
    .new4__form-box1
      .new4__form-box1__upper
        .new4__form-box1__upper__text
          カード番号
        .new4__form-box1__upper__logo
          必須
      .new4__form-box1-form
        =form_with do |f|
          =f.text_field :number, placeholder: "半角数字のみ"
         
          %ul.new4__form-box1-form__logo
            %li
              = icon('fab', 'cc-visa')
            %li
              = icon('fab', 'cc-mastercard')
            %li
              = icon('fas', 'credit-card')
            %li
              = icon('fab', 'cc-jcb')
            %li
              = icon('fab', 'cc-amex')
            %li
              = icon('fas', 'credit-card')
            %li
              = icon('fab', 'cc-discover')
          .new4__form-box1-form-box2
            .new4__form-box1-form-box2__upper
              .new4__form-box1-form-box2__upper__text
                有効期限
              .new4__form-box1-form-box2__upper__logo
                必須
            .new4__form-box1-form-box2__month
              = f.select :month, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12]], prompt: '--'
              = f.label :month, "月"
            .new4__form-box1-form-box2__year
              = f.select :year, [2020,2019,2018,], prompt: '--'
              = f.label :year, "年"

          .new4__form-box1-form-box3
            .new4__form-box1-form-box3__upper
              .new4__form-box1-form-box3__upper__text
                セキュリティコード
              .new4__form-box1-form-box3__upper__logo
                必須
            .new4__form-box1--form-box3-form
              = f.text_field :number, placeholder: "カード背面4桁もしくは3桁の番号"
            .new4__form-link
              =link_to "カード裏面の番号とは？", "https://www .mercari.com/jp/help_center/article/244/"
            =f.submit "登録する", class: "btn"
  .new4__footer
    .new4__footer-links
      .new4__footer-links-title
        =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      .new4__footer-links-title
        =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      .new4__footer-links-title
        =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    .new4__footer-image
      = link_to image_tag(src="fmarket_logo_white.svg"),root_path
    .new4__footer-end
      © Mercari, Inc.