.footer
  .footer__upper
    .footer__upper__main
      %p.footer__upper__main__text1
        スマホでかんたんフリマアプリ
      %p.footer__upper__main__text2
        今すぐ無料ダウンロード！
      .footer__upper__main__logo
        .footer__upper__main__logo__mercari
          = link_to image_tag(src="logo_red.svg"),root_path
        .footer__upper__main__logo__AppStore
          = link_to image_tag(src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"),"https://apps.apple.com/jp/app/id667861049?l=ja"
        .footer__upper__main__logo__GooglePlay
          = link_to image_tag(src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"),"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
          
  .footer__lower
    .footer__lower__upper-box
      .footer__lower__upper-box__left
        %p.footer__lower__upper-box__left__head
          メルカリについて
        %ul.footer__lower__upper-box__left__comments
          %li.footer__lower__upper-box__left__comments__comment
            = link_to '会社概要（運営会社）', root_path
          %li.footer__lower__upper-box__left__comments__comment
            = link_to '採用情報', root_path
          %li.footer__lower__upper-box__left__comments__comment
            = link_to 'プレスリリース', root_path
          %li.footer__lower__upper-box__left__comments__comment
            = link_to '公式ブログ', root_path
          %li.footer__lower__upper-box__left__comments__comment
            = link_to 'メルカリロゴ利用ガイドライン', root_path
          .footer__lower__upper-box__left__comments__logo
            = link_to "https://twitter.com/", class: "footer__lower__upper-box__left__comments__logo__twitter" do
              = icon('fab', 'twitter')
            = link_to "https://www.facebook.com/", class: "footer__lower__upper-box__left__comments__logo__twitter" do
              = icon('fab', 'facebook-square')


      .footer__lower__upper-box__right
        %p.footer__lower__upper-box__right__head
          ヘルプ＆ガイド
        %ul.footer__lower__upper-box__right__comments
          %li.footer__lower__upper-box__right__comments__comment
            = link_to 'メルカリガイド', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to 'らくらくメルカリ便', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to 'ゆうゆうメルカリ便', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to '大型メルカリ便', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to '車体取引ガイド', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to 'メルカリあんしん・あんぜん宣言！', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to '偽ブランド品撲滅への取り組み', root_path
          %li.footer__lower__upper-box__right__comments__comment
            = link_to 'メルカリボックス', root_path


      .footer__lower__upper-box__middle
        %p.footer__lower__upper-box__middle__head
          プライバシーと利用規約
        .footer__lower__upper-box__middle__comments
          %ul.footer__lower__upper-box__middle__comments__left
            %li.footer__lower__upper-box__middle__comments__left__comment
              = link_to 'プライバシーポリシー', root_path
            %li.footer__lower__upper-box__middle__comments__left__comment
              = link_to 'メルカリ利用規約', root_path
            %li.footer__lower__upper-box__middle__comments__left__comment
              = link_to 'あんしんスマホサポート制度に関する利用特約', root_path
            %li.footer__lower__upper-box__middle__comments__left__comment
              = link_to 'コンプライアンスポリシー', root_path
          %ul.footer__lower__upper-box__middle__comments__right
            %li.footer__lower__upper-box__middle__comments__right__comment
              = link_to '個人データの安全管理に係る基本方針', root_path
            %li.footer__lower__upper-box__middle__comments__right__comment
              = link_to '特定商取引に関する表記', root_path
            %li.footer__lower__upper-box__middle__comments__right__comment
              = link_to '資金決済法に基づく表示', root_path
            %li.footer__lower__upper-box__middle__comments__right__comment
              = link_to '法令順守と犯罪抑止のために', root_path


      .footer__lower__upper-box__bottom
        %p.footer__lower__upper-box__bottom__head
          国
        .footer__lower__upper-box__bottom__country
          .footer__lower__upper-box__bottom__country__name
            = link_to '日本', root_path
          .footer__lower__upper-box__bottom__country__name
            = link_to 'United States', root_path


    .footer__lower__lower-box
      .footer__lower__lower-box__logo
        = link_to image_tag(src= "fmarket_logo_red.svg",class: "footer__lower-box__logo__image"),root_path
      .footer__lower__lower-box__comment
        © Mercari, Inc.