.header
  .header__box
    .header__box__upper-box
      .header__box__upper-box__logo
        = link_to root_path do
          = image_tag(src= "fmarket_logo_red.svg",class: "header__box__upper-box__logo__image")
      .header__box__upper-box__search
        %form.logo-and-search__search.right-float
          %input{value:"", placeholder:"何かお探しですか？" }
          = link_to do
            %i.fa.fa-search
    .header__box__lower-box
      .header__box__lower-box__left-box
        .header__box__lower-box__left-box__category
          .header__box__lower-box__left-box__category__logo
            = icon('fas', 'list-ul')
          .header__box__lower-box__left-box__category__text
            カテゴリーから探す
          
        .header__box__lower-box__left-box__brand
          .header__box__lower-box__left-box__brand__logo
            = icon('fas', 'tag')
          .header__box__lower-box__left-box__brand__text
            ブランドから探す
      %ul.header__box__lower-box__right-box
        %li
          = link_to "新規会員登録", new_mercari_path, class: "header__box__lower-box__right-box__btn new"
        %li
          = link_to "ログイン", root_path, class:"header__box__lower-box__right-box__btn login"
    
