= render "header"
.show
  .show__header
  .show__product
    .show__product-title
      = @item.item_name
    .show__product-box
      .show__product-box-area1
        = image_tag (@item.images.first.image.url class: "show__product-box-area-image-1")
        .show__product-box-area-image
         
      .show__product-box-area2
        .show__product-box-area2-exhibition1
          .show__product-box-area2-exhibition1-box1
            出品者
          .show__product-box-area2-exhibition1-box2
            カテゴリー
          .show__product-box-area2-exhibition1-box3
            ブランド
          .show__product-box-area2-exhibition1-box3
            商品の状態
          .show__product-box-area2-exhibition1-box3
            配送料の負担
          .show__product-box-area2-exhibition1-box3
            配送方法
          .show__product-box-area2-exhibition1-box3
            配送元地域
          .show__product-box-area2-exhibition1-box3
            発送日の目安
        .show__product-box-area2-exhibition2
          .show__product-box-area2-exhibition2-box1
            .show__product-box-area2-exhibition2-box1-name
              = link_to @item.user.nickname, root_path
            .show__product-box-area2-exhibition2-box1-name1 
              .show__product-box-area2-exhibition2-box1-name1-smile1
                =icon('fas', 'grin', class: "show__product-box-area2-exhibition2-box1-name1-smile1-1")
                865
              .show__product-box-area2-exhibition2-box1-name1-smile2
                =icon('fas', 'meh', class: "show__product-box-area2-exhibition2-box1-name1-smile2-1")
                2
              .show__product-box-area2-exhibition2-box1-name1-smile3
                =icon('fas', 'tired', class: "show__product-box-area2-exhibition2-box1-name1-smile3-1")
                0
              
          .show__product-box-area2-exhibition2-box2
            レディース
            %br > バッグ
            > ショルダーバック

          .show__product-box-area2-exhibition2-box3
            = link_to @item.brand, root_path
          .show__product-box-area2-exhibition2-box3
            = @item.condition
            -# 未使用に近い
          .show__product-box-area2-exhibition2-box3
            -# = @item.charges
            送料込み(出品者負担)
          .show__product-box-area2-exhibition2-box3
            -# = @item.shipping
            らくらくメルカリ便
          .show__product-box-area2-exhibition2-box3
            -# = link_to @item.prefectures, root_path
            = link_to "埼玉県",root_path
          .show__product-box-area2-exhibition2-box3
            -# = @item.date 
            1~2日で発送
    .show__product-price
      %span.show__product-price-1
        ¥
        = @item.price
      %span.show__product-price-2
        (税込)
      %span.show__product-price-3
        送料込み

    .show__product-btn
      =link_to "購入画面に進む","/items/buy_view"

    .show__product-text
      .show__product-text-1
        = @item.description
    .show__product-iine
      %span.show__product-iine-1
        ♡ いいね！ 12
      %span.show__product-iine-inappropriate
        =link_to "不適切な商品の報告",root_path
      %span.show__product-iine-relief
        =link_to "あんしん・あんぜんへの取り組み", root_path
  .show__comment
    .show__comment-text
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .show__comment-area
      =form_with do |f|
        =f.text_area :comment, class: "show__comment-area-comment"
        =f.submit "コメントする", class: "show__comment-area-btn"

  .show__links1
    .show__links1-1
      =link_to "< 格安 プレステ ソフト まとめて 7本", root_path
    .show__links1-1
      =link_to "エアハラチ キッズ >",root_path
  .show__links2
    .show__links2-facebook
      =link_to "https://www.facebook.com/" do
        =icon('fab', 'facebook-square', class: "show__links2-facebook-1")
    .show__links2-twitter
      =link_to "https://twitter.com/" do
        =icon('fab', 'twitter-square', class: "show__links2-twitter-1")
    .show__links2-pinterest
      =link_to "https://www.pinterest.jp/" do
        =icon('fab', 'pinterest-square', class: "show__links2-pinterest-1")

  .show__title
    =link_to @item.user.nickname + "さんのその他の商品", root_path
  .show__other
    .show__other-area
      .show__other-area-image
        = link_to image_tag(src= @item.images.first.image.url, class: "show__product-box-area-image-1"),root_path
      .show__other-area-text
        .show__other-area-text-information 
          = @item.description
        .show__other-area-text-area
          .show__other-area-text-area-price
            ¥ 
            = @item.price
          .show__other-area-text-area-iine
            ♡ 11
   
    .show__other-area
      .show__other-area-image
        = link_to image_tag(src= @item.images.first.image.url, class: "show__product-box-area-image-1"),root_path
      .show__other-area-text
        .show__other-area-text-information
          = @item.description
        .show__other-area-text-area
          .show__other-area-text-area-price
            ¥ 
            = @item.price
          .show__other-area-text-area-iine
            ♡ 11
   
    .show__other-area
      .show__other-area-image
        = link_to image_tag(src= @item.images.first.image.url, class: "show__product-box-area-image-1"),root_path
      .show__other-area-text
        .show__other-area-text-information
          = @item.description
        .show__other-area-text-area
          .show__other-area-text-area-price
            ¥ 
            = @item.price
          .show__other-area-text-area-iine
            ♡ 11
   
    .show__other-area
      .show__other-area-image
        = link_to image_tag(src= @item.images.first.image.url, class: "show__product-box-area-image-1"),root_path
      .show__other-area-text
        .show__other-area-text-information
          = @item.description
        .show__other-area-text-area
          .show__other-area-text-area-price
            ¥ 
            = @item.price
          .show__other-area-text-area-iine
            ♡ 11
   
    .show__other-area
      .show__other-area-image
        = link_to image_tag(src= @item.images.first.image.url, class: "show__product-box-area-image-1"),root_path
      .show__other-area-text
        .show__other-area-text-information
          = @item.description
        .show__other-area-text-area
          .show__other-area-text-area-price
            ¥ 
            = @item.price
          .show__other-area-text-area-iine
            ♡ 11

= render "footer"